<!DOCTYPE html>
<html>
<head>
	<title>Water Consumption Details</title>
		
		
<link rel="stylesheet"
href=
"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
integrity=
"sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
crossorigin="anonymous">	
		
<link rel="stylesheet" type="text/css" href="forms.component.css">
		
</head>
<body>
	
	<br>
	<br>
	<br>
	<div class="container" >
		<div class="row">
		<div class="col-md-3">
					
		</div>
				
		<div class="col-md-6 main">
					
			<form action="/sucess" method="post">
					
			<h1> Water Consumption Details </h1>
							
			<input class="box" type="text" name="name" id="name"
			placeholder="Name" required /><br>
							
			<input class="box" type="text" name="liters" id="liters"
			placeholder="Amount of liters consumed " required /><br>
							
			<input class="box" type="text" name="date" id="date"
			placeholder="Date of consumption" required/><br>
						<br>
			<input type="submit" id="submitDetails"
			name="submitDetails" value="Submit" /><br>
					
			</form>
					
		</div>
				
				
		<div class="col-md-3">
		</div>
				
	</div>
	</div>
</body>
</html>	
