<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>

<h2>Consumer Details</h2>

<table>
  <tr>
    <th>Name</th>
    <th>Consuption</th>
    <th>Date</th>
  </tr>
  <tr>
    <td>Kshitij Pathak</td>
    <td>1200</td>
    <td>12/02/2001</td>
  </tr>
  <tr>
    <td>Jay K Khelde</td>
    <td>1000</td>
    <td>11/01/2002</td>
  </tr>
  <tr>
    <td>Aditya</td>
    <td>150</td>
    <td>15/06/2001</td>
  </tr>
  <tr>
    <td>Shruti</td>
    <td>1200</td>
    <td>11/01/2015</td>
  </tr>
</table>

</body>
</html>

